@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Página criada por: <strong>@ViewData["Developer"]</strong>.</p>
<address>
    <ul>
        <li>
            <strong>GitHub: </strong><a href="https://github.com/Eddimaia" target="_blank">https://github.com/Eddimaia</a>
        </li>
        <li>
            <strong>Linkedin: </strong><a href="https://www.linkedin.com/in/edson-moura-6ab026164/" target="_blank">https://www.linkedin.com/in/edson-moura-6ab026164/</a>
        </li>
    </ul>
</address>
