@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Test App with ASP .NET Core MVC and Entity Framework.";
    ViewData["Developer"] = "Edson Moura";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This application was created with the purpose to apply the knowlodge in C# and web application adcquired with hard study. This is my first app utilizing MVC and Entity.
    More features will added.</p>