@{
    ViewData["Title"] = "Contact";
    ViewData["Developer"] = "Edson Moura";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Created by: <strong>@ViewData["Developer"]</strong>.</p>

<address>
    <ul style="list-style:none; color: white;">
        <li>
            <a href="https://github.com/Eddimaia" target="_blank" style=" color: white;"> <i class="fa-brands fa-square-github"></i><strong> GitHub</strong></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/edson-moura-6ab026164/" target="_blank" style=" color: white;"><i class="fa-brands fa-square-facebook"></i><strong> Linkedin</strong></a>
        </li>
        <li>
            <a href="mailto:mcm.edson1@gmail.com" style=" color: white;"><i class="fa-solid fa-envelope"></i><strong> E-mail</strong></a><br />
        </li>
    </ul>
</address>
